
		#customForm{
			padding: 0 10px 10px;
		}
		.user_message{ margin-top:12px; color:#006600; font-family:Georgia, "Times New Roman", Times, serif; font-size:14px; font-weight:bold;}
		#customForm label{
			display: block;
			color:#000000;
			float:left;
			width:130px;
			font-size:14px;	
			line-height: 1.4em;
		}
		#customForm input{
			width: 220px;
			 float:left;
			padding: 4px;
			text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
			border-bottom: 1px solid rgba(0,0,0,0.25);
			font-size: 11px;
			border: 1px solid #CCCCCC;
		}
		input#button{
			width: 244px;
			 float:left;
			padding: 4px;
			text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
			border-bottom: 1px solid rgba(0,0,0,0.25);
			font-size: 11px;
			border: 1px solid #CCCCCC;
		}
		#outer{ width:150px; padding:6px; 
				background:#FFFFFF;
				height:18px;
				margin-top:12px;
				color:#fff;
				margin-bottom:5px;
				font-weight:bold;
				-moz-border-radius: 6px;
				font-size:12px;
				-webkit-border-radius: 6px;
				-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
				-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
				text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
				border-bottom: 1px solid rgba(0,0,0,0.25);}
				
		#outer .rating_enb {
				width:16px; padding:1px; 
				height:18px; float:left;
				background:#CC0000;
				margin-right:4px;	
				cursor:pointer;
			}
		#outer .rating_dis {
				width:16px; padding:1px; 
				height:18px; float:left;
				cursor:pointer;
				background:#CCCCCC;				
				margin-right:4px;	
			}
		#outer .rating_dis:hover, #outer .rating_enb:hover {background:#009933;	}
		
		#outer .rating_value{ color:#003399; padding-top:2px; font-size:14px}
		#outer .rating_message{ color:#003399; padding-top:2px; font-size:14px}
		

